.wrapper {
    display: flex;
    padding: 8px 12px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.05);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
    line-height: 1.8rem;
}
.name {
    font-style: 1.6rem;
    font-weight: 500;
}
.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.username {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
}
